<h3>EDIT DOG</h3>

<form action="/dog/:id/edit" method="POST">

Name: <input type="text" name="name" value="<%=  @dog_data['name']  %>"><br>
Breed: <input type="text" name="breed" value="<%=  @dog_data['breed']  %>"><br>
Age: <input type="text" name="age" value="<%=  @dog_data['age']  %>"><br>
Derp: <input type="text" name="name" value="<%=  @dog_data['derp_level']  %>"><br>
Enthusiasm: <input type="text" name="name" value="<%=  @dog_data['enthusiasm']  %>"><br>
<button>Update</button>
</form>
