
<em>Showing all dogs:</em>

<% @all_dogs.each do |dog| %>

  Name: <a href="/dog/<%= dog['id'] %>"><%= dog['name'] %></a> <br>
  Breed: <%= dog['breed'] %> <br>
  Age: <%= dog['age'] %> <br>
  Derp: <%= dog['derp_level'] %> <br>
  Enthusiasm: <%= dog['enthusiasm'] %> <br>

  <br><br>

<% end %>
